/* VARIABLES
 *******************/

/* Sizes */

/* Colors */
$brand: #046a9b;
$brand2: #0d4a68;
$secondary: #F2CC00;
$hover: $secondary;
$wrong: #f31d12;
$moduleText: #fff;
$subtext: $brand;

/* Borders */
$border: 1px solid #000;

/* Space */ 
$center:0 auto;